{% extends 'base.html' %}

{% block title %}我的网站|登录{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="containter">
        <div class="card">
            {% if not user.is_authenticated %}
            <div class="card-header eskimo-title-with-border">
                <h3> <span>登录</span></h3>
            </div>
            <ul class="list-group list-group-item">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in login_form %}
                    <li class="list-group-item" for="{{ field.id_for_label }}">{{ field.label }}</li>
                    {{ field }}
                    <p class="text-danger">{{ field.errors.as_text }}</p>
                    {% endfor %}
                    <span id="tip" class="text-danger">{{ login_form.non_field_errors }}</span>
                    <div class="clearfix"></div>
                    <div class="pull-left">
                    </div>
                    <div class="pull-right">
                        <input class="btn btn-outline-primary" type="submit" value="登录">
                        <a class="btn btn-outline-primary" href="{% url 'forgot_password' %}">忘记密码</a>
                    </div>
                </form>
            </ul>
            {% else %}
                <span>已登录，跳转到首页...</span>
                <script type="text/javascript">
                    window.location.href = '/';
                </script>
            {% endif %}    
        </div>
    </div>    
{% endblock %}