{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ page_title }}{% endblock %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css">{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header eskimo-title-with-border">
            <h3> <span>{{ form_title }}</span></h3>
        </div>
        <ul class="list-group list-group-item">
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                {% if not field.is_hidden %}
                <li class="list-group-item" for="{{ field.id_for_label }}">{{ field.label }}</li>
                {% endif %}
                {{ field }}
                <p class="text-danger">{{ field.errors.as_text }}</p>
                {% endfor %}
                <span id="tip" class="text-danger">{{ form.non_field_errors }}</span>
                <div class="clearfix"></div>
                <div class="pull-left">
                    {% block other_buttons %}
                    {% endblock %}
                </div>
                <div class="pull-right">
                    <input class="btn btn-outline-primary" type="submit" value="{{ submit_text }}">
                    <button class="btn btn-outline-primary" onclick="window.location.href='{{ return_back_url }}'">返回</button>
                </div>
            </form>
        </ul>
    </div>
</div>
{% endblock %}