{% extends 'base.html' %} {% load staticfiles %} {% block title %} 川农大物联作品展示平台 {% endblock %} {% block header_extends %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %} {% block nav_home_active %}active{% endblock %} {% block content %}
 <div class="clearfix"></div>
 <!-- SLIDER -->
 <div class="eskimo-carousel-container eskimo-bg-loader">
        <div id="eskimo-post-slider" class="eskimo-slider">
            <!-- SLIDE 1 -->
            <div>
                <a class="eskimo-slider-img" href="single-post.html"></a>
                <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                    <li><a href="single-post.html"><span class="badge badge-default">May 28, 2018</span></a></li>
                    <li><a href="category.html"><span class="badge badge-default">硬件</span></a></li>
                </ul>
                <div class="clearfix"></div>
                <img src="{% static 'img/test/blog-1.jpg' %}" alt="Ketchup Flavored Ice Cream!" />
                <div class="eskimo-slider-desc">
                    <div class="eskimo-slider-desc-inner">
                        <h2 class="card-title">智能电动窗帘</h2>
                        <p>可通过手机APP进行远程控制，支持语音控制，定时控制...</p>
                    </div>
                </div>
            </div>
            <!-- SLIDE 2 -->
            <div>
                <a class="eskimo-slider-img" href="single-post.html"></a>
                <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                    <li><a href="single-post.html"><span class="badge badge-default">May 29, 2018</span></a></li>
                    <li><a href="category.html"><span class="badge badge-default">硬件</span></a></li>
                </ul>
                <div class="clearfix"></div>
                <img src="{% static 'img/test/blog-2.jpg' %}" alt="Ketchup Flavored Ice Cream!" />
                <div class="eskimo-slider-desc">
                    <div class="eskimo-slider-desc-inner">
                        <h2 class="card-title">智能家居灯具</h2>
                        <p>接入天猫精灵，可实现语音调控灯光效果，配有多种智能场景，...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 图表容器 DOM -->
<div id="higncharts"></div>
 
<script>
     // 图表配置
     var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
                title: { text: '前7日阅读量变化'},
            },
            yAxis: {
                title: { text: null },
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ read_nums }}               // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false },
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('higncharts', options);
</script>

{% endblock %}